*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    width: 100%;
    height: 100vh;
}


/* Navbar*/

nav{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 3;
    flex-wrap: wrap;
}

nav h3{
    color: goldenrod;
    font-size: 30px;
    padding: 13px;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav li{
    margin: 0 50px;
    display: inline-flex;
}

nav a{
    text-decoration: none;
    color: #c0c0c0;
    padding: 21px;
    transition: 0.5s;
}

nav a:hover{
    transform: translate(-3px,3px);
    box-shadow: black 3px -3px;
    background-color: goldenrod;
    border-radius: 10px;
    color: black;
}

/* presentation myself */

#presentation{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(35, 139, 82, 0.5)), url(img/WhatsApp\ Image\ 2020-11-14\ at\ 16.34.54\ \(1\).jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 30%;
}

.myself{
    padding-left: 100px;
    position: relative;
    top: 20%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.myself h1{
    font-size: 100px;
    color: goldenrod;
    text-align: center;
}

.myself p{
    color: goldenrod;
    text-align: center;
    font-size: 30px;
    line-height: 60px;
}

.myself p span{
    font-size: 40px;
    font-weight: bold;
}

/* experience */

#experience{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(35, 139, 82, 0.5)), url(img/336500.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 20%;
}

.experience{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 30%;
    flex-wrap: wrap;
}

.experience h1{
    margin-left: 100px;
    color: goldenrod;
    font-size: 80px;
    text-align: center;
}

.experience li{
    margin-right: 40px;
    list-style: none;
    line-height: 50px;
    font-size: 20px;
    color: goldenrod;
    text-align: left;
}

/* education*/

#education{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(35, 139, 82, 0.5)), url(img/iStock-1142918319.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10%;
}

.education{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    position: relative;
    top: 30%;
    flex-wrap: wrap;
}

.education h1{
    text-align: center;
    font-size: 70px;
    color: goldenrod;
}

.education ul{
    list-style: none;
}

.education li{
    color: goldenrod;
    font-size: 30px;
    line-height: 50px;
}

/* contact */

footer{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(35, 139, 82, 0.5)), url(img/contactus-background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.contact{
    height: 100%;
    text-align: center;
    position: relative;
}

.contact h1{
    font-size: 80px;
    color: goldenrod;
    padding-top: 6%;
}
.contact .info{
    margin-top: 140px;
    margin-left: 40%;
    text-align: left;
}

.contact .info p{
    font-size: 20px;
    color: goldenrod;
    padding-bottom: 20px;
}
.contact p .fas{
    padding-right: 20px;
}

.contact .social-links{
    position: absolute;
    bottom: 15px;
    left: 40%;
}

.social-links a{
    color: goldenrod;
    margin-left: 20px;
}

.social-links .fab{
    border: 1px solid goldenrod;
    width: 50px;
    height: 50px;
    padding: 15px;
    transition: 0.5s;
}

.social-links .fab:hover{
    border-radius: 30px;
    border: 1px solid turquoise;
    color: turquoise;
}

.social-links p{
    padding-top: 30px;
    color: goldenrod;
}

@media screen and (max-width: 1041px){
    nav{
        position: unset;
        background: black;
    }
    nav h3{
        font-size: 20px;
    }
    .myself h1{
        flex-basis: 100%;
        font-size: 50px;
    }
    .myself p{
        flex-basis: 100%;
        font-size: 18px;
        line-height: 30px;
    }
    .myself p span{
        font-size: 20px;
    }
    .experience h1{
        flex-basis: 100%;
        font-size: 50px;
    }
    .experience li{
        line-height: 30px;
    }
    .experience .exp-list{
        flex-basis: 100%;
        margin-left: 30%;
    }
    .education{
        justify-content: center;
    }
    .education h1{
        flex-basis: 100%;
        font-size: 50px;
    }
    .education li{
        font-size: 20px;
    }
    .contact h1{
        font-size: 50px;
    }
    .contact .info p{
        font-size: 16px;
    }
    .contact .social-links{
        left: 35%;
    }
}